# MoveIt uses this to talk to the controller
moveit_simple_controller_manager:
  controller_names:
    - arm_controller
    - gripper_controller

  # --- PHẦN SỬA: THỤT VÀO 2 DẤU CÁCH ---
  # Để nó nằm bên trong moveit_simple_controller_manager
  arm_controller:
    action_ns: follow_joint_trajectory
    type: FollowJointTrajectory
    default: true
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6

  gripper_controller:
    action_ns: follow_joint_trajectory
    type: FollowJointTrajectory
    default: true
    joints:
      - joint_gl
      - joint_gr