controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    gripper_controller:
      type: joint_trajectory_controller/JointTrajectoryController

joint_state_broadcaster:
  ros__parameters:
    extra_joints: []
    interfaces: []

arm_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    
    # Cấu hình chuẩn Jazzy để fix lỗi Time
    interpolate_from_desired_state: true
    allow_nonzero_velocity_at_trajectory_end: true
    
    constraints:
      goal_time: 0.0
      stopped_velocity_tolerance: 0.0

gripper_controller:
  ros__parameters:
    joints:
      - joint_gl
      - joint_gr
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    
    interpolate_from_desired_state: true
    allow_nonzero_velocity_at_trajectory_end: true
    
    constraints:
      goal_time: 0.0
      stopped_velocity_tolerance: 0.0