controller_manager:
  ros__parameters:
    update_rate: 100

    gripper_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

gripper_controller:
  ros__parameters:
    joints:
      - joint_gl
      - joint_gr
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    interpolate_from_desired_state: true
    # ĐÃ XÓA KHỐI GAINS VÀ CONSTRAINTS ĐỂ CHẠY GAZEBO THẬT

arm_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    interpolate_from_desired_state: true
    # ĐÃ XÓA KHỐI GAINS VÀ CONSTRAINTS ĐỂ CHẠY GAZEBO THẬT
